/*--------------------------------------------------------------
#0.5	footer
--------------------------------------------------------------*/
.site-footer {
	background-color: #0d2352;
	position: relative;

	@include widther(992px) {
		margin-top: 60px;
	}

	ul {
		list-style: none;
	}

	p,
	li {
		color: $white;
	}

	/*** upper contact area ***/
	.upper-contact-area {
		position: absolute;
		width: 100%;
		top: -63px;
		z-index: 10;

		@include media-query(991px) {
			display: none;
		}

		.contact-grids {
			background-color: #172e5e;
			padding: 40px 34px;
			overflow: hidden;
		}

		.contact-grids .grid {
			width: 33.33%;
			float: left;
			padding-left: 60px;
			position: relative;
		}

		.contact-grids > .grid + .grid {
			border-left: 1px solid rgba(255,255,255, 0.1);
			padding-left: 95px;

			.icon {
				left: 30px;
			}
		}

		.icon {
			position: absolute;
			left: 0;
			top: 50%;
			@include translatingY();
			font-size: 40px;
			font-size: calc-rem-value(40);
			color: $white;
		}

		h5 {
			font-size: 18px;
			font-size: cacl-rem-value(18);
			font-weight: 600;
			color: $white;
			margin: 0 0 0.2em;
		}

		p {
			font-size: 15px;
			font-size: calc-rem-value(15);
			margin: 0;
			color: #efefef;
		}
	}

	.upper-footer {
		padding: 90px 0;

		@include widther(992px) {
			padding-top: 160px;
		}

		@include media-query(991px) {
			padding: 90px 0 20px;
		}

		@include media-query(767px) {
			padding: 80px 0 10px;
		}

		.col {
			@include media-query(991px) {
				min-height: 235px;
				margin-bottom: 70px;
			}

			@include media-query(767px) {
				min-height: auto;
				margin-bottom: 60px;
			}
		}
	}

	.widget-title {
		margin-bottom: 30px;

		@include media-query(767px) {
			margin-bottom: 20px;
		}
	}

	.widget-title h3 {
		font-size: 24px;
		font-size: calc-rem-value(24);
		font-weight: blod;
		color: $white;
		margin: 0;
		padding-bottom: 0.4em;
		text-transform: capitalize;
		position: relative;

		@include media-query(767px) {
			font-size: 22px;
			font-size: calc-rem-value(22);
		}
	}

	/*** about-widget ***/
	.about-widget {
		@include widther(1200px) {
			padding-right: 75px;
			position: relative;

			&:after {
				content: "";
				background: rgba(255, 255, 255, 0.05);
				width: 1px;
				height: 100%;
				position: absolute;
				right: 35px;
				top: 0;
			}
		}

		.logo {
			@include media-query(1199px) {
				max-width: 90%;
			}
		}

		p {
			margin-bottom: 0.8em;
			line-height: 1.9em;
		}

		p:last-child {
			margin-bottom: 0;
		}

		.social-icons ul {
			overflow: hidden;
			padding-top: 15px;

			@include media-query(767px) {
				padding-top: 8px;
			}

			li {
				float: left;
			}

			> li + li {
				margin-left: 15px;
			}

			a {
				color: $white;
			}

			a:hover {
				color: $theme-primary-color;
			}
		}
	}

	/*** link-widget ***/
	.link-widget {
		@include media-query(1199px) {
			padding-left: 20px;
		}

		@include media-query(991px) {
			padding-left: 0;
		}

		ul li {
			position: relative;
			padding-left: 15px;

			&:before {
				content: "";
				background-color: $white;
				width: 5px;
				height: 1px;
				position: absolute;
				left: 0;
				top: 9px;
				@include transition-time(0.3s);
			}

			&:hover:before {
				background: $theme-primary-color;
			}
		}

		ul a {
			color: $white;
		}

		ul a:hover,
		ul li:hover:before {
			color: $theme-secondary-color;
		}

		ul > li + li {
			margin-top: 17px;
		}
	}

	/*** service-link-widget ***/
	.service-link-widget {
		@include widther(1200px) {
			padding-left: 25px;
		}
	}

	/*** newsletter-widget ***/
	.newsletter-widget {
		form {
			margin-top: 25px;
			position: relative;

			input {
				background-color: #172e5e;
				height: 50px;
				color: $white;
				padding: 6px 15px;
				border: 1px solid #263964;
				box-shadow: none;
			}

			.submit {
				position: absolute;
				right: 20px;
				top: 50%;
				@include translatingY();

				button {
					background: transparent;
					border: 0;
					outline: 0;
					font-size: 20px;
					color: $white;
				}
			}
		}
	}


	/*** lower-footer ***/
	.lower-footer {
		text-align: center;

		.row {
			padding: 20px 0;
			position: relative;

			.separator {
				background: rgba(255, 255, 255, 0.05);
				width: calc(100% - 30px);
				height: 1px;
				position: absolute;
				left: 15px;
				top: 0;
			}
		}

		.copyright {
			float: left;
			font-size: 14px;
			font-size: calc-rem-value(14);
			margin: 7px 0 0;

			@include media-query(991px) {
				float: none;
				margin: 7px 0 20px;
			}
		}

		ul {
			display: inline-block;
			overflow: hidden;
			float: right;

			@include media-query(991px) {
				float: none;
			}
		}

		ul li {
			float: left;

			@include media-query(767px) {
			}
		}

		ul > li + li {
			margin-left: 15px;
			position: relative;

			@include media-query(767px) {
				margin-left: 15px;
			}
		}
	}
}