/****************************************
	blog sidebar
****************************************/
.blog-sidebar {
	@include widther(1200px) {
		padding-left: 20px;
	}

	@include media-query(991px) {
		max-width: 300px;
		margin-top: 70px;
	}

	> .widget + .widget {
		margin-top: 65px;
	}

	.widget {
		border: 1px solid #eee;
		padding: 40px 30px;

		@include media-query(991px) {
			padding: 35px 25px;
		}
	}

	.widget > h3 {
		font-size: 22px;
		font-size: calc-rem-value(22);
		font-weight: bold;
		text-transform: capitalize;
		padding-bottom: 0.65em;
		margin: 0 0 0.8em;
		position: relative;
	}

	.widget ul {
		list-style: none;
	}


	/*** search-widget ***/
	.search-widget {
		div {
			position: relative;
		}

		button {
			background: transparent;
			font-size: 20px;
			font-size: calc-rem-value(20);
			color: $theme-primary-color;
			border: 0;
			outline: 0;
			padding: 0;
			margin: 0;
			position: absolute;
			right: 15px;
			top: 55%;
			@include translatingY();
		}

		input {
			background-color: #fbfbfb;
			height: 50px;
			padding: 6px 40px 6px 20px;
			border: 1px solid transparentize($theme-primary-color, 0.6);
			border-radius: 50px;
			box-shadow: none;
		}
	}


	/*** categories-widget ***/
	.categories-widget {
		ul li {
			position: relative;
			color: #727780;

			span {
				background: transparentize($theme-primary-color, 0.8);
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 13px;
				font-size: calc-rem-value(13);
				text-align: center;
				color: #707070;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 50%;
				@include translatingY();
			}

			a {
				color: #727780;
			}
		}

		ul > li + li {
			margin-top: 15px;
		}

		ul li a:hover {
			color: $theme-primary-color;
		}
	}


	/*** popular-product-widget ***/
	.popular-post-widget {
		ul li {
			overflow: hidden;
		}

		ul > li + li {
			margin-top: 20px;
		}

		.post-image {
			width: 70px;
			float: left;
		}

		.post-info {
			width: calc(100% - 70px);
			float: left;
			padding-left: 20px;
		}

		.post-title {
			font-size: 16px;
			font-size: calc-rem-value(16);
			line-height: 1.3em;

			@include media-query(991px) {
				font-size: 15px;
				font-size: calc-rem-value(15);
			}
		}

		.date {
			font-size: 12px;
			font-size: calc-rem-value(12);
			font-weight: 500;
			color: $theme-primary-color;
		}

		.post-info > a {
			color: $heading-color;
			font-weight: 600;
			display: block;
			margin-bottom: 6px;
		}

		.post-info > a:hover {
			color: $theme-primary-color;
		}
	}


	/*** tag-widget ***/
	.tag-widget .tagcloud {
		a {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: #727780;
			display: inline-block;
			border: 1px solid #e8e8e8;
			padding: 6px 15px;
			border-radius: 32px;
			margin: 0 5px 5px 0;
		}

		a:hover {
			background-color: $theme-primary-color;
			border-color: $theme-primary-color;
			color: $white;
		}
	}
}


.blog-with-left-sidebar {
	.blog-sidebar {
		@include widther(1200px) {
			padding: 0 20px 0 0;
		}
	}
}

.blog-fullwidth-pg-section {
	.blog-sidebar {

	}
}