.theme-btn {
	background-color: $theme-color3;
	font-size: 16px;
	font-size: calc-rem-value(16);
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	color: $white;
	padding: 0 22px;
	border: 0;
	border-radius: 50px;
	display: inline-block;
	text-transform: capitalize;


	&:hover,
	&:focus,
	&:active {
		background-color: darken($theme-color3, 6%);
		color: $white;
	}

	@include media-query(991px) {
		font-size: 14px;
		font-size: calc-rem-value(14);
		height: 45px;
		line-height: 45px;
		padding: 0 18px;
		border-radius: 45px;
	}
}