/**** pagination ****/
.pagination-wrapper {
	max-height: 45px;
	text-align: center;
	margin-top: 60px;

	@include media-query(991px) {
		text-align: left;
		margin-top: 45px;
	}

	.pg-pagination {
		display: inline-block;
		overflow: hidden;
		list-style-type: none;
		text-align: center;

		li {
			float: left;
			margin-right: 10px;

			@include media-query(767px) {
				margin-right: 5px;
			}
		}

		li:last-child {
			margin-right: 0;
		}

		li a {
			width: 45px;
			height: 45px;
			line-height: 45px;
			font-size: 20px;
			font-size: calc-rem-value(20);
			border: 1px solid transparent;
			color: $heading-color;
			display: block;
			border-radius: 50%;

			@include media-query(991px) {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 18px;
				font-size: calc-rem-value(18);
			}
		}

		.active a,
		li a:hover {
			border-color: $theme-primary-color;
			color: $theme-primary-color;
		}
	}
}

.pagination-wrapper-left {
	text-align: left;
}

.pagination-wrapper-right {
	text-align: right;

	@include widther(1200px) {
		padding-right: 50px;
	}

	@include media-query(991px) {
		margin-top: 45px;
		text-align: left;
	}
}
