/******************************
	#page title
******************************/
.page-title {
	@include background-style("../images/page-title.jpg", center center, cover, no-repeat, local);
	width: 100%;
	height: 480px;
	text-align: center;
	position: relative;

	@include media-query(991px) {
		height: 300px;
	}

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		@include gradient-bg(top, $theme-primary-color, $theme-secondary-color 50%) ;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.95;
	}

	.container {
		height: 100%;
		display: table;

		> .row {
			vertical-align: middle;
			display: table-cell;
		}
	}

	h2,
	ol {
		color: $white;
	}

	h2 {
		font-size: 60px;
		font-size: calc-rem-value(60);
		font-weight: bold;
		margin: -0.12em 0 0.30em;
		text-transform: capitalize;

		@include media-query(991px) {
			font-size: 50px;
			font-size: calc-rem-value(50);
		}

		@include media-query(767px) {
			font-size: 40px;
			font-size: calc-rem-value(40);
		}

		@include widther(992px) {
			margin-top: 145px;
		}
	}

	.breadcrumb {
		background-color: transparent;
		padding: 0;
		margin-bottom: 0;

		@include media-query(767px) {
			text-align: center;
		}
	}

	.breadcrumb li {
		font-size: 16px;
		font-size: calc-rem-value(16);
		color: $theme-color3;
		margin-right: 5px;

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.breadcrumb li a {
		color: $white;
	}

	.breadcrumb li a:hover {
		color: darken($theme-primary-color, 10%);
	}

	.breadcrumb > li + li:before {
		font-family: "themify";
		content: "\e628";
		color: $white;
		margin-right: 5px;
	}
}