.sticky-header {
	width: 100%;
	position: fixed;
	left: 0;
	top: -200px;
	z-index: 9999;
	opacity: 0;
	@include transition-time(0.7s);
}

.sticky-on {
	opacity: 1;
	top: 0;
}

.header-style-1 .sticky-header {
	background-color: $theme-primary-color;
	border-bottom: 0;
}

.header-style-2 .sticky-header {
	background-color: $white;
	border-bottom: 0;
	box-shadow: 0 0 15px transparentize($black, 0.90);
}
