/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800');

// fonts
$base-font-size: 16;
$base-font: 'Nunito', sans-serif;



// color
$dark-gray: #192224;
$mid-gray: #6c6c6c;
$white: #fff;
$black: #000;
// $blue: #0d3cbf;
$blue: #5533ff;
$sky: #2c9fdf;
$dark-blue: #193e85;

$theme-primary-color: $blue;
$theme-secondary-color: $sky;
$theme-color3: $dark-blue;
$body-bg-color: $white;
$section-bg-color: #f8f8f8;
$text-color: $mid-gray;
$heading-color: $dark-gray;
