#services {
    background-color: $color-primary;
    padding: 10rem;
    font-family: $font-primary;
    color: #222;
}

.services {
    &__heading,
    &__text {
        text-align: center;
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

.service-box {
    padding: 3%;

    h3 {
        width: 100%;
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        font-weight: 300;
        font-size: 1.6rem;
    }
}

.service-icon {
    margin-bottom: 1rem;
}

.services-special-title {
    background-color: $color-secondary;
}