#testimonials {
    text-align: center;
    color: #222;
    font-family: $font-primary;
    padding: 10rem 10rem 0 10rem;

    h3 {
        font-size: 3.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }
}

.carousel-item {
    padding: 7% 15%;

    .testimonial-text {
        font-style: italic;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.5;
    }

    em {
        font-size: 2rem;
        font-weight: 300;
    }
}

.testimonial-special-title {
    background-color: $color-primary;
}

.carousel-item {
    height: 30rem;
    overflow: hidden;
}