.container-fluid {
    padding: 3% 15% 7%;

    .row {
        margin-top: 5%;
    }
}

.title-image {
    width: 80%;
    position: absolute;
    right: 30%;
}

.big-heading {
    color: #222;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
}

.download-button {
    margin: 5% 3% 5% 0;
    border: 1px solid #222;
    background-color: #222;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .4s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
}
    