<!DOCTYPE HTML>
<html>
    <head>
        <title>AngularJS Application</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="controller.js"></script>
    </head>    
        <body>
            <div ng-app="mainApp" ng-controller="CRUDController">
                <table>
                    <tr>
                        <td>ID</td>
                        <td>{{ID}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td input type="text" ng-model="Name"></td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td input type="text" ng-model="Salary"></td>
                    </tr>
                    </tr>
                    <tr>
                        <td><input-type="button"></input-type></td>
                        <td input type="text" ng-model="Salary"></td
                    </tr>
                </table>
            </div>
        </body>
</html>    
