/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
html {
    font-size: $base-font-size + px;
}

body {
    font-family: $base-font;
    background-color: $body-bg-color;
    font-size: 16px;
    font-size: calc-rem-value(16);
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    @include media-query( 767px ) {
        font-size: 15px;
        font-size: calc-rem-value(15);
    }
}

p {
    color: $text-color;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a,
button {
    text-decoration: none;
    @include transition-time(0.2s);
}

a:hover,
a:focus,
button,
button:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

.round-circle {
    width: 400px;
    height: 400px;
    border: 1px solid transparentize($white, 0.9);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    @include center-by-translating();

    .round-2,
    .round-3 {
        border: 1px solid transparentize($white, 0.9);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        @include center-by-translating();
    }

    .round-2 {
        width: 80%;
        height: 80%;
    }

    .round-3 {
        width: 60%;
        height: 60%;
    }
}




/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/
.page-wrapper {
    position: relative;
    overflow: hidden;
}

.wow {
    visibility: hidden;
}

.fi:before {
    margin: 0;
}

.section-padding {
    padding: 120px 0;

    @include media-query(991px) {
        padding: 100px 0;
    }

    @include media-query(767px) {
        padding: 90px 0;
    }
}


/*** contact form error handling ***/
.contact-validation-active {
    .error-handling-messages {
        margin-top: 15px;
    }

    label.error {
        color: red;
        font-size: calc-rem-value(14);
        font-weight: normal;
        margin: 5px 0 0 0;
        text-align: left;
        display: block;
    }

    #loader {
        display: none;
        margin-top: 10px;

        i {
            font-size: 30px;
            font-size: calc-rem-value(30);
            color: $theme-primary-color;
            display: inline-block;
            -webkit-animation: rotating linear 2s infinite;
            animation: rotating linear 2s infinite;

        }
    }

    #success,
    #error {
        width: 100%;
        color: $white;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        display: none;

        @include media-query(767px)  {
            font-size: 15px;
        }
    }

    #success {
        background-color: lighten(green, 5%);
        border-left: 5px solid green;
        margin-bottom: 5px;
    }

    #error {
        background-color: lighten(red, 5%);
        border-left: 5px solid red;
    }
}

/*** back to top **/
.back-to-top {
    background-color: transparentize($theme-primary-color, 0.1);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    @include transition-time(0.2s);
    @include rounded-border(3px);

    @include media-query(991px) {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    &:hover {
        background-color: $theme-primary-color;
    }
}

.back-to-top i {
    font-size: 18px;
    font-size: calc-rem-value(18);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    @include center-by-translating();
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
  -webkit-animation: rotating 5s alternate infinite;
  animation: rotating 5s alternate infinite;
}



/** for popup image ***/
.mfp-wrap {
    background-color: transparentize($black, 0.1);
    z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}

