/*--------------------------------------------------------------
	#blog page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#7.0	blog-pg-section
--------------------------------------------------------------*/
.blog-pg-section {
	.post {
		position: relative;
	}

	.blog-content > .post +.post  {
		margin-top: 100px;

		@include media-query(991px) {
			margin-top: 70px;
		}

		@include media-query(767px) {
			margin-top: 60px;
		}
	}

	.post .entry-media {
		margin-bottom: 22px;
	}

	.entry-body {
		background-color: $white;
		position: relative;
		z-index: 10;
	}

	.post h3 {
		font-size: 30px;
		font-size: calc-rem-value(30);
		font-weight: bold;
		line-height: 1.3em;
		margin: 1em 0;

		@include media-query(991px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}

		@include media-query(767px) {
			font-size: 22px;
			font-size: calc-rem-value(22);
		}
	}

	.post h3 a {
		color: $heading-color;
		display: inline-block;
	}

	.post h3 a:hover {
		color: $theme-primary-color;
	}

	.post .meta {
		list-style: none;
		overflow: hidden;
		border-bottom: 1px solid #eee;
		padding-bottom: 15px;

		@include media-query(767px) {
			padding-bottom: 10px;
		}

		li {
			font-size: 13px;
			font-size: calc-rem-value(13);
			float: left;
			color: $heading-color;
			position: relative;
			margin-right: 25px;

			@include media-query(767px) {
				margin-right: 20px;
				margin-bottom: 5px;
			}
		}

		> li:last-child {
			margin-right: 0;
		}

		a,
		i {
			color: $heading-color;
			font-weight: normal;
		}

		i {
			color: $theme-primary-color;
			display: inline-block;
			padding-right: 5px;
		}

		a:hover {
			color: $theme-primary-color;
		}
	}

	.entry-details {
		margin-top: 25px;

		@include media-query(991px) {
			margin-top: 20px;
		}


		p {
			margin: 0 0 1.5em;
		}

		a {
			font-weight: bold;
		}
	}

	.post-slider {
		position: relative;

		.owl-controls {
			width: 100%;
			margin: 0;
			position: absolute;
			left: 0;
			top: 50%;
			@include translatingY();
		}

		.owl-controls .owl-nav [class*=owl-] {
			background: transparentize($theme-primary-color, 0.2);
			width: 30px;
			height: 50px;
			line-height: 50px;
			padding: 0;
			margin: 0;
			border-radius: 0;
		}

		.owl-controls .owl-nav .owl-prev,
		.owl-controls .owl-nav .owl-next {
			position: absolute;
			top: 50%;
			@include translatingY();
		}

		.owl-controls .owl-nav .owl-prev {
			left: 0;
		}

		.owl-controls .owl-nav .owl-next {
			right: 0;
		}
	}

	.video-post .video-holder {
		position: relative;
		text-align: center;

		&:before {
			content: "";
			@include overlay(transparentize($black, 0.6));
			@include transition-time(0.3s);
		}

		&:hover:before {
			@include overlay(transparentize($black, 0.2));
		}

		a {
			position: absolute;
			left: 50%;
			top: 50%;
			@include center-by-translating();
		}

		.fi {
			padding-left: 8px;
		}

		.fi:before {
			font-size: 80px;
			font-size: calc-rem-value(80);
			color: $white;

			@include media-query(767px) {
				font-size: 60px;
				font-size: calc-rem-value(60);
			}
		}
	}

	.quote-post {
		background-color: $white;
		padding: 45px;
		border: 1px solid #eee;

		@include media-query(767px) {
			padding: 35px 25px;
		}

		.quote-icon {
			background-color: $theme-primary-color;
			padding: 7px 10px;
			position: absolute;
			right: 0;
			top: 0;

			&:before {
				content: "";
				border: 28px solid transparent;
				border-top: 25px solid $theme-primary-color;
				position: absolute;
				left: 0;
				bottom: -100%;
			}
		}

		.quote-icon i {
			font-size: 35px;
			font-size: calc-rem-value(35);
			color: $white;
		}
	}
}

