/*--------------------------------------------------------------
	#case stydy page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#9.0	case-study-page-section
--------------------------------------------------------------*/
.case-study-page-section {
	@extend .case-study-section;
	padding-bottom: 90px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(767px) {
		padding-bottom: 60px;
	}

	.case-grids > .grid {
		margin-bottom: 30px;
	}
}