/*--------------------------------------------------------------
	#404 page
----------------------------------------------------------------*/
/*--------------------------------------------------------------
#11.0 	error-404-section
----------------------------------------------------------------*/
.error-404-section .content {
	text-align: center;

	h2 {
		font-size: 200px;
		font-size: calc-rem-value(200);
		color: $theme-primary-color;
		line-height: 0.73em;
		margin: 0 0 0.4em;

		@include media-query(991px) {
			font-size: 150px;
			font-size: calc-rem-value(150);
		}

		@include media-query(767px) {
			font-size: 120px;
			font-size: calc-rem-value(120);
		}
	}

	h3 {
		font-size: 30px;
		font-size: calc-rem-value(30);
		font-weight: normal;
		margin: 0 0 1.5em;

		span {
			color: $theme-primary-color;
		}

		@include media-query(991px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
			line-height: 1.3em;
		}

		@include media-query(767px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

	p {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0 0 2em;

		@include media-query(991px) {
			font-size: 17px;
			font-size: calc-rem-value(17);
		}

		@include media-query(767px) {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}
	}
}