/*--------------------------------------------------------------
	home style 2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.0	features-section-s2
--------------------------------------------------------------*/
.features-section-s2 {
	@extend .features-section;

	.grid {
		box-shadow: none;
		border: 1px solid #eee;
	}
}


/*--------------------------------------------------------------
#2.1	work-process-section
--------------------------------------------------------------*/
.work-process-section {
	padding-top: 0;

	.grids h3 {
		font-size: 24px;
		font-size: calc-rem-value(24);
		margin: 0 0 0.6em;
		text-transform: capitalize;

		> span {
			display: none;
		}
	}


	@include widther(992px) {

		.left-grid {
			text-align: right;
			padding-top: 0;
		}

		.left-grid .grid {
			padding: 60px 15px 30px 15px;
		}

		.right-grid {
			padding-top: 0;
		}

		.right-grid .grid {
			padding: 60px 15px 30px 15px;
		}
	}

	@include widther(1200px) {

		.left-grid {
			text-align: right;
			padding-top: 50px;
		}

		.left-grid .grid {
			padding: 60px 45px 30px 50px;
		}

		.right-grid {
			padding-top: 50px;
		}

		.right-grid .grid {
			padding: 60px 50px 30px 45px;
		}
	}

	@include media-query(991px) {
		padding-bottom: 60px;

		.grids {
			margin: 0 -15px;
			overflow: hidden;
		}

		.grid {
			width: 50%;
			float: left;
			padding: 0 15px 30px;
		}

		.grid h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);

			span {
				display: inline-block;
				padding-right: 10px;
			}
		}

		.img-holder {
			display: none;
		}

		.grid p {
			margin: 0;
		}
	}

	@include media-query(767px) {
		padding-bottom: 50px;
	}

	@include media-query(550px) {
		.grid {
			width: 100%;
			float: none;
		}
	}
}

.work-process-section-s2 {
	@extend .work-process-section;

	padding: 120px 0;

    @include media-query(991px) {
        padding: 100px 0;
    }

    @include media-query(767px) {
        padding: 90px 0;
    }

}


/*--------------------------------------------------------------
#2.2	site-analysis-section-s2
--------------------------------------------------------------*/
.site-analysis-section-s2 {
	@extend .site-analysis-section;
	@include gradient-bg(top, $theme-primary-color, $theme-secondary-color 50%) ;

	&:before {
		display: none;
	}
}


/*--------------------------------------------------------------
#2.3	services-section-s2
--------------------------------------------------------------*/
.services-section-s2 {
	@extend .services-section;
	padding-bottom: 90px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(767px) {
		padding-bottom: 60px;
	}

	.service-grids {
		margin: 0 -15px;
	}

	.col .service-grids .grid {
		border: 0;
		box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.03);
		width: calc(33.33% - 30px);
		margin: 0 15px 30px;
		padding: 40px 30px;

		@include media-query(991px) {
			width: calc(50% - 30px);
		}

		@include media-query(650px) {
			width: calc(100% - 30px);
			float: none;
			padding: 30px 20px;
		}
	}
}


/*--------------------------------------------------------------
#2.4	cta-s3-section
--------------------------------------------------------------*/
.cta-s3-section {
	@extend .cta-s2-section;
	@include gradient-bg(top, $theme-primary-color, $theme-secondary-color 50%) ;

	&:before {
		display: none;
	}

	.img-holder {
		text-align: right;
	}
}


/*--------------------------------------------------------------
#2.5	testimonials-section-s2
--------------------------------------------------------------*/
.testimonials-section-s2 {
	@extend .testimonials-section;
	@include gradient-bg(top, $theme-primary-color, $theme-secondary-color 50%) ;

	&:before {
		display: none;
	}
}


/*--------------------------------------------------------------
#2.6	newsletter-section-s2
--------------------------------------------------------------*/
.newsletter-section-s2 {
	@extend .newsletter-section;
	@include gradient-bg(top, $theme-primary-color, $theme-secondary-color 50%) ;

	&:before {
		display: none;
	}
}