/*--------------------------------------------------------------
	#testimonials page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#10.0	testimonials-page-section
--------------------------------------------------------------*/
.testimonials-page-section {
	@extend .testimonials-section-s2;
	background: #f8f8f8;
	padding-bottom: 40px;

	@include media-query(991px) {
		padding-bottom: 60px;
	}

	@include media-query(767px) {
		padding-bottom: 50px;
	}


	.testimonials-grids > .grid {
		margin-bottom: 80px;
	}

	.grid .quote p {
		color: #333;
		margin-top: -0.3em;
	}

	.client-info h5 {
		color: $theme-primary-color;
	}

	.client-info h5 + span {
		color: $black;
	}
}